{% extends "home/base.html" %}

{% load wagtailcore_tags demo_tags wagtailimages_tags static %}

{% block extra_css %}
        {% image self.feed_image width-2000 as bg_image %}

        <style type="text/css">
        header {
            background-image: url("{{ bg_image.url }}");
        }

        .well {
            background: transparent url("{% static "home/img/transpBrown50.png" %}");
        }

        .news a {
            background: transparent url("{% static "home/img/transpBrown10.png" %}");
            padding: 10px;
        }
        </style>
{% endblock %}

{% block content %}
<section class="" id="news" style="padding:10px 10px">
        <h2 class="section-heading">Uutisia</h2>
        <div class="container">
            <div class="row">

    {% if request.GET.tag|length %}
        <h4>Showing posts tagged as {{ request.GET.tag|safe }} <a href=" {% pageurl self %} ">Show all</a></h4>
    {% endif %}

    <div class="list-group news">
        {# Uses serve method defined in models.py - allows for paging if required #}
        {# See also standard index for creating a listing with a tag #}
        {% for blog in blogs %}
            {% if request.user.is_authenticated or blog.public %}
                {% include "home/includes/blog_list_item.html" %}
            {% endif %}
        {% empty %}
            No blogs found
        {% endfor %}
    </div>
</div>
</div>
</section>
    {# Pagination - uses django.core.paginator #}
    {# Append any other url query string variables to the next and previous links - allows tag to be passed through #}
    <section style="clear:both">
    <div class="container">
    <div class="row">
        <div class="col-sm-4 previous">
            {% if blogs.has_previous %}
                <a href="?page={{ blogs.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">Previous</a>
            {% endif %}
        </div>
        <div class="col-sm-4 pages">
            Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}
        </div>
        <div class="col-sm-4 next">
            {% if blogs.has_next %}
                <a href="?page={{ blogs.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">Next</a>
            {% endif %}
        </div>
    </div>
    </div>
    </section>
    {% include "home/includes/related_links.html" with related_links=self.related_links.all only %}
{% endblock %}