{% extends "home/base.html" %}
{% load wagtailcore_tags demo_tags wagtailimages_tags static %}

{% block extra_css %}
        {% image self.feed_image width-2000 as bg_image %}

        <style type="text/css">
        header {
            background-image: url("{% static "home/img/transpBrown50.png" %}");
            min-height: 150px;
        }


        </style>
{% endblock %}

{% block heading %}
  <div class="page-header">

    <div class="pull-right">
      {% for tag in self.tags.all %}
        <a href="{% pageurl self.blog_index %}?tag={{ tag }}"
           class="btn btn-primary btn-xs">
          <i class="glyphicon glyphicon-tag"></i> {{ tag }}
        </a>
      {% endfor %}
    </div>

    <h2>
      {{ self.title }}
      {% if self.date %}<small>{{ self.date }}</small>{% endif %}
    </h2>

  </div>
{% endblock %}

{% block content %}
<section style="padding:10px 0">
  <div class="container">
  <div class="row col-lg-12 col-md-8" style="clear:both">

    {% if self.body %}
        <div class="" style="padding:10px 50px">
            {{ self.body|richtext }}
        </div>
    {% endif %}

    {% if self.feed_image %}
        <div class="sidebar col-lg-4 col-md-6 col-xs-8" style="padding:10px 50px">
            {% image self.feed_image width-300 %}
        </div>
    {% endif %}

    {% include "home/includes/related_links.html" with related_links=self.related_links.all only %}
{% endblock %}

  </div>
  </div>
</section>
