{% extends "home/base.html" %}

{% load wagtailcore_tags %}

{% block extra_css %}
        <style type="text/css">
            .news {
                padding-top: 100px;                
            }
        </style>
{% endblock %}

{% block header %}

{% endblock %}


{% block content %}
<section class="news">
        <div class="container">
            <div class="row col-lg-8 row-centered">

    {% include "home/includes/intro.html" with intro=self.intro only %}

    {# {% include "home/includes/carousel.html" with carousel_items=self.carousel_items.all only %} #}

    <h2>{{ self.title }}</h2>
    
    <div class="pull-right">
      {% for tag in self.tags.all %}
        <a href="{% pageurl self.faq_index %}?tag={{ tag }}"
           class="btn btn-primary btn-xs">
          <i class="glyphicon glyphicon-tag"></i> {{ tag }}
        </a>
      {% endfor %}

    <div class="pull-right">
    {% include "home/includes/related_links.html" with related_links=self.related_links.all only %}
            </div>

    {% if self.body %}
        <div class="body-content">
            {{ self.body|richtext }}
            {% if self.feed_image %}
                {{ self.feed_image }}
            {% endif %}
        </div>
    {% endif %}
    
    </div>
    </div>
    </div>
</section>
{% endblock %}
