{% extends "home/base.html" %}

{% load wagtailcore_tags demo_tags wagtailimages_tags static %}

{% block extra_css %}
        {% image self.feed_image width-2000 as bg_image %}

        <style type="text/css">
        header {
            background-image: url("{{ bg_image.url }}");
        }

        .well {
            background: transparent url("{% static "home/img/transpBrown50.png" %}");
        }

        .news a {
            background: transparent url("{% static "home/img/transpBrown10.png" %}");
            padding: 10px;
        }
        </style>
{% endblock %}
{% block content %}
<section class="news" style="padding:10px 10px">
        <div class="container">
            <div class="row">
    {% if request.GET.tag|length %}
        <h4>Showing posts tagged as {{ request.GET.tag|safe }} </h4>
    {% endif %}

    <div class="list-group news">
        {# Uses serve method defined in models.py - allows for paging if required #}
        {# See also standard index for creating a listing with a tag #}
        {% for faq in faqs %}
            {% if request.user.is_authenticated or faq.public %}
                {% include "home/includes/faq_list_item.html" %}
            {% endif %}
        {% empty %}
            No blogs found
        {% endfor %}
    </div>

    {# Pagination - uses django.core.paginator #}
    {# Append any other url query string variables to the next and previous links - allows tag to be passed through #}
    </div>
    </div>
    </section>
    {% include "home/includes/related_links.html" with related_links=self.related_links.all only %}
{% endblock %}