{% extends "home/base.html" %}

{% load wagtailcore_tags demo_tags wagtailimages_tags static %}

{% block extra_css %}
        {% image self.feed_image width-2000 as bg_image %}

        <style type="text/css">
        header {
            background-image: url("{{ bg_image.url }}");
        }

        .well {
            background: transparent url("{% static "home/img/transpBrown50.png" %}");
        }

        .news a {
            background: transparent url("{% static "home/img/transpBrown10.png" %}");
            padding: 10px;
        }
        </style>
{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
    <section class="news" style="padding:10px 10px">
            <div class="container">
                <div class="row">
                {{ self.intro|safe }}
                </div>
                </div>
                </section>
                {% endif %}

    <section class="news" style="padding:10px 10px">
            <div class="container">
                <div class="row">
            <div class="list-group col-md-6 news">

{% with faqs=self.faqs %}
    {% for faq in faqs %}
                {% if request.user.is_authenticated or faq.public %}
            <a class="list-group-item col-lg-12 col-md-12 col-sx-12" href="{% pageurl faq %}">
                <h4 class="list-group-item-heading">{{ faq.title }}</h4>
            {% for tag in faq.tags.all %}
          <i class="glyphicon glyphicon-tag tiny"></i> <i>{{ tag }}</i>
          {% endfor %}
            </a>
            {% endif %}

    {% endfor %}
{% endwith %}


            </div>

            </div>
        </div>
    </section>
    {# {% include "home/includes/related_links.html" with related_links=self.related_links.all only %} #}
{% endblock %}