{% extends "home/base.html" %}
{% load demo_tags wagtailimages_tags static %}

{% block extra_css %}
        {% image self.bg_image width-2000 as bg_image %}

        <style type="text/css">
        header {
            background-image: none; 
            /*url("{{ bg_image.url }}");*/
        }

        .well {
            background: transparent url("{% static "home/img/transpBrown50.png" %}");
        }

        #news a, #events a, .news a {
            background: transparent url("{% static "home/img/transpBrown10.png" %}");
            padding: 10px;
            border: 1px solid #ccc;
        }

        html, body{
            height: 100%;
            }

        .advert-list li {
            margin: 5px;
        }    

        .advert-list li .img-thumbnail {
            border: 0px;
        }      
/* header height sets static height needed for the video to be rendered in browser view port
 * for height in percent to work parent container needs to have percent value in this case body was given 100% height
*/
header{
    min-height: 75%;
    position: relative;
    /*background-image: url("{{ bg_image.url }}");*/
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    height: auto;
}

header .header-content {
    top: 51%;
}
/* hero_area div containing video needs to be the size of parent div height, thus top, left, right, bottom helps to stretch hero_area div to the size of parent by giving position absolute.
 * overflow hides the video over-flowing outside the current size of hero_area. this can be helpful to control the visible part of video by pulling it using position value in video (top / bottom/ left/ right).
*/

.hero_area {
    bottom: 0;
    left: 0;
    right: 0;
    top: -45%;
    position: absolute;
    overflow: visible;
}

@media (max-width: 768px) {
    .hero_area {
            top: 10%;   
    }

    header {
        min-height: 51%;
    }
}

@media (max-width: 375px) {
    .hero_area {
            top: 9%;   
    }

    .page-header .well {
        position: relative;
        top: 0px;
    }
}
audio, canvas, video{
    display: inline-block;
    object-fit: contain;

}

/* here bottom value can be set to 0 to always match the buttom part of the video with the buttom part of the containing div, in our case hero_area. I have used negative -150px to pull the video downward so that i can chop some unwanted area which overflow of parent(hero_area) will hide.
* as width is set to 100%, and height to auto, as the width of the browser changes height is auto calculated making the video responsive
*/

.hero_area video {
    bottom: 0px;
    position: relative;
    width: 100%;
    height: auto;
    z-index: -1;
}
        </style>

{% endblock %}

{% block heading %}
        {% image self.bg_image width-2000 as bg_image %}

    <div class="page-header section-heading">
        <div class="hero_area">
    <video autoplay="true" preload="auto" loop id="pretzel-video" class="video-playing" poster="{{ bg_image.url }}">
      <source src="{% static "home/Lapinlahti-valkenee.min.mp4" %}" type="video/mp4">
      <source src="{% static "home/Lapinlahti-valkenee.webm" %}" type="video/webm">
    </video>
    </div> 
    <img src="{% static "home/img/tilajakamo_vaaka_neg.png" %}" style="width:80%" />
        <!--h1>{{ self.title }}</h1-->
        {% include "home/includes/intro.html" with intro=self.body only %}
        
    </div>
{% endblock %}


{% block content %}
    {# {% include "home/includes/carousel.html" with carousel_items=self.carousel_items.all only %} #}

    {# {% person_listing_homepage %} #}

<section class="" id="news" style="padding:10px 10px">
        <h2 class="section-heading">Uutisia</h2>
        <div class="container">
            <div class="row">

    {% blog_listing_homepage %}

            </div>
        </div>
        </section>

<section class="bg-primary" id="events" style="padding:10px 10px">
        <h2 class="section-heading">Tapahtumia</h2>
        <div class="container">
            <div class="row">

    {% event_listing_homepage %}

        </div>
    </div>
</section>

<section class="" id="rooms" style="padding:10px 10px">
        <h2 class="section-heading">Vapaat huoneet</h2>
        <div class="container">
            <div class="row">

    {% if self.rooms %}
    <div class="col-lg-12 text-center news">
      {% for room in self.rooms %}
        {% include "home/includes/room_list_item.html" %}
      {% endfor %}
    </div>
  
    {% endif %}
        </div>
    </div>
</section>

{% endblock %}
<hr />

    {% block adverts %}{% adverts %}{% endblock %}


{% block pager %}<!-- no pager -->{% endblock %}


