{% extends "home/base.html" %}

{% load wagtailcore_tags demo_tags wagtailimages_tags static %}

{% block extra_css %}
        {% image self.feed_image width-2000 as bg_image %}

        <style type="text/css">
        header {
            background-image: url("{{ bg_image.url }}");
        }

        .well {
/*            background: transparent url("{% static "home/img/transpBrown50.png" %}");
*/        }

        .news {
            background: transparent url("{% static "home/img/transpBrown10.png" %}");
            padding: 10px;
            height: 275px;
        }
        </style>
{% endblock %}

{% block content %}
    <section class="" style="padding:10px 10px">
        <div class="container">
            <div class="row list-group col-lg-12 col-md-12 col-sx-12">
    {% for person in self.persons %}
                {% if request.user.is_authenticated or person.public %}
                <a class="news list-group-item col-lg-3 col-md-6 col-xs-12"  href="{% pageurl person %}">
                <h4 >{{ person.title }}</h4>
                <h3 >{{ person.first_name }} {{ person.last_name }}</h3>
                <h4 >#{{ person.room }}</h4>
                {% if person.telegram %}
                    <h4>Telegram @{{ person.telegram }}</h4>
                {% endif %}            
                    <strong>{{ person.intro|safe }}</strong>
                {% if person.feed_image %}
                <div class="media-left">
                {% image person.feed_image width-270 as img %}
                <img class="media-object" src="{{ img.url }}" />
                {% endif %}
              </a>
            {% endif %}
    {% endfor %}
             </div>
        </div>
    </section>
{% endblock %}