{% extends "home/base.html" %}

{% load wagtailcore_tags demo_tags wagtailimages_tags static %}

{% block extra_css %}
        {% image self.feed_image width-2000 as bg_image %}

        <style type="text/css">
        header {
            background-image: url("{{ bg_image.url }}");
        }

        .well {
/*            background: transparent url("{% static "home/img/transpBrown50.png" %}");
*/        }

        .news {
            background: transparent url("{% static "home/img/transpBrown10.png" %}");
            padding: 5px;
            margin: 5px;
            height: 195px;
        }
        </style>
{% endblock %}

{% block content %}
    <section class="" style="padding:10px 10px">
        <div class="container">
            <div class="row list-group">
    {% for person in self.persons %}
                {% if request.user.is_authenticated or person.public %}
                <a class="news list-group-item col-lg-3 col-md-3 col-sm-4 col-xs-6"  style="width:24%" href="{% pageurl person %}">
                <h5 >{{ person.title }}</h5>
                <h4 >{{ person.first_name }} {{ person.last_name }}</h4>
                <strong>#{{ person.room }}</strong>
                {% if person.telegram %}
                    <h5>Telegram @{{ person.telegram }}</h5>
                {% endif %}            
                    <i>{{ person.intro|safe }}</i>
                {% if person.feed_image %}
                <div class="media-left">
                {% image person.feed_image width-270 as img %}
                <img class="media-object" src="{{ img.url }}" />
                {% endif %}
              </a>
            {% endif %}
    {% endfor %}
             </div>
        </div>
    </section>
{% endblock %}