{% extends "home/base.html" %}

{% load wagtailcore_tags wagtailimages_tags static %}

{% block extra_css %}
        {% image self.feed_image width-2000 as bg_image %}

        <style type="text/css">
        header {
            background-image: url("{{ bg_image.url }}");
        }

        .well {
            background: transparent url("{% static "home/img/transpBrown50.png" %}");
        }

        </style>
{% endblock %}

{% block header %}

{% endblock %}


{% block content %}

<section class="news">
        <div class="container">
            <div class="row col-lg-8 row-centered">

      <h2>Huone #{{ self.title }}</h2>

    {% if self.body %}
        <div class="body-content">
            {{ self.body|richtext }}
        </div> 
    {% endif %}

    {{ self.member.first_name }}

    {% if self.member %}
            <a href="{{ self.member.url }}">{{ self.member.first_name }} {{ self.member.last_name }}</a>
    {% endif %}

    {% include "home/includes/related_links.html" with related_links=self.related_links.all only %}
    </div></div></section>
{% endblock %}
