{% extends "home/base.html" %}

{% load wagtailcore_tags wagtailimages_tags static %}

{% block extra_css %}
        {% image self.feed_image width-2000 as bg_image %}

        <style type="text/css">
        header {
            background-image: url("{{ bg_image.url }}");
        }

        .well {
            /*background: transparent url("{% static "home/img/transpBrown50.png" %}");*/
        }

        </style>
{% endblock %}

{% block header %}

{% endblock %}


{% block content %}

<section class="news">
        <div class="container">
            <div class="row col-lg-12 col-md-6 col-sx-4 row-centered">
      <h2>Huone #{{ self.title }}</h2>
    {% if self.feed_image %}
      <div class="pull-right">
         {% image self.feed_image width-600 class="img-thumbnail pull-right" %}
         </div>
      {% endif %}
    {% if self.body %}
    <div><b>{{ self.body|richtext }}</b></div>
    {% endif %}

    {% if self.free %}
        {% if self.body %}
            <div class="container well">
                {{ self.body|richtext }}
                  <p><strong>Vuokrattavissa: {{ self.start }}{% if self.end %} -- {{ self.end }}{% endif %}</strong>
                  {{ self.ad|richtext }}</p>
            </div> 
        {% endif %}

     {% else %}   

        {% if self.member.public or request.user.is_authenticated %}
                <h4>Osuuskuntalainen:</h4> 
                {% if self.member.intro %}
                <i>"{{ self.member.intro|richtext }}"</i>
                {% endif %}
                <ul>
                <li><a href="/me/{{ self.member.slug }}">{{ self.member.title }} <br/>{{ self.member.first_name }} {{ self.member.last_name }}</a></li>
                {% if self.member.telegram %}
                <li>
                @{{ self.member.telegram }}</li>{% endif %}
                </ul>
            {% endif %}
        
    {% endif %}

    </div></div></section>
{% endblock %}
