{% extends "home/base.html" %}

{% load wagtailcore_tags demo_tags wagtailimages_tags static %}

{% block extra_css %}
        {% image self.feed_image width-2000 as bg_image %}

        <style type="text/css">
        header {
            background-image: url("{{ bg_image.url }}");
            background-size: contain;
            background-repeat: no-repeat; 

        }

        .page-header {
            color: #000;
            margin-top: 500px;
        }
        .well {
            background: transparent url("{% static "home/img/transpBrown50.png" %}");
        }

        .news a {
            background: transparent url("{% static "home/img/transpBrown10.png" %}");
            padding: 10px;
            height: 175px;
        }
        </style>
{% endblock %}

{% block content %}
    <section class="" style="padding:10px 10px">
            <div class="container">
                <div class="row">
            <div class="list-group news">
{% with rooms=self.rooms %}
    {% for room in rooms %}

                {% if request.user.is_authenticated or room.public %}

            <a class="list-group-item col-lg-2 col-md-3 col-sm-4 col-xs-6" href="{% pageurl room %}">
                <h4 class="list-group-item-heading">#{{ room.title }}</h4>
            
            
                {% if room.feed_image %}
              <div style="float:left;overflow:hidden">
                {% image room.feed_image width-150 as img %}
                    <img class="media-object pull-left" src="{{ img.url }}" />
              </div>
                {% endif %}

                {% if room.search_description %}
                    <p class="list-group-item-text">{{ room.search_description }}</p>
                {% endif %}
                </a>
            {% endif %}

    {% endfor %}
{% endwith %}
                {# Uses serve method defined in models.py - allows for paging if required #}
                {# See also standard index for creating a listing with a tag #}
{% comment %}
                    {% standard_index_listing calling_page=self %}
{% endcomment %}

            </div>

            </div>
        </div>
    </section>
    {# {% include "home/includes/related_links.html" with related_links=self.related_links.all only %} #}
{% endblock %}