{% extends "home/base.html" %}

{% load wagtailcore_tags wagtailimages_tags static %}

{% block extra_css %}
        {% image self.feed_image width-2000 as bg_image %}

        <style type="text/css">
        header {
            background-image: url("{{ bg_image.url }}");
        }

        .well {
            /*background: transparent url("{% static "home/img/transpBrown50.png" %}");*/
        }

        </style>
{% endblock %}

{% block header %}

{% endblock %}


{% block content %}

<section class="news">
        <div class="container">
            <div class="row col-lg-8 row-centered">
      <h2>Huone #{{ self.title }}</h2>

    {% if self.free %}
        {% if self.body %}
            <div class="container well">
                        {% if self.feed_image %}
            {% image self.feed_image width-300 class="img-thumbnail pull-right" %}
        {% endif %}

                {{ self.body|richtext }}
            </div> 
        {% endif %}

     {% else %}   

        {% if self.member.public or request.user.is_authenticated %}
                <h4>Osuuskuntalainen:</h4> 
                <i>"{{ self.member.intro|richtext }}"</i>
                {% if self.member.feed_image %}
                    {% image self.member.feed_image width-300 class="img-thumbnail pull-right" %}
                {% endif %}
                <ul>
                <li><a href="/me/{{ self.member.slug }}">{{ self.member.title }} <br/>{{ self.member.first_name }} {{ self.member.last_name }}</a></li>
                <li>@{{ self.member.telegram }}</li>
                </ul>
            {% endif %}
        
    {% endif %}

    </div></div></section>
{% endblock %}
