{% extends "home/base.html" %}

{% load wagtailcore_tags demo_tags wagtailimages_tags static %}

{% block extra_css %}
        {% image self.feed_image width-2000 as bg_image %}

        <style type="text/css">
        header {
            background-image: url("{{ bg_image.url }}");
        }

        .well {
            background: transparent url("{% static "home/img/transpBrown50.png" %}");
        }

        .news a {
            background: transparent url("{% static "home/img/transpBrown10.png" %}");
            padding: 10px;
        }
        </style>
{% endblock %}

{% block content %}
    <section class="news" style="padding:10px 10px">
            <div class="container">
                <div class="row">

            <div class="list-group news">
                {# Uses serve method defined in models.py - allows for paging if required #}
                {# See also standard index for creating a listing with a tag #}
                    {% standard_index_listing calling_page=self %}

            </div>

            </div>
        </div>
    </section>
    {# {% include "home/includes/related_links.html" with related_links=self.related_links.all only %} #}
{% endblock %}