{% extends "home/base.html" %}

{% load wagtailcore_tags demo_tags wagtailimages_tags static %}

{% block extra_css %}

        <style type="text/css">
        header {
            background-image: url("");
            min-height: 0;
        }
        </style>
{% endblock %}

{% block content %}
<section>
<div class="container">
<div class="row col-lg-8 col-md-8 col-xs-12">
    {% if self.feed_image %}
    <div clss="well col-lg-4" style="float:right">
        {% image self.feed_image width-300 class="img-thumbnail" %}
    </div>
    {% endif %}

    {% include "home/includes/intro.html" with intro=self.intro only %}

    {% if self.body %}
        <div class="body-content">
            {{ self.body|richtext }}
        </div>
    {% endif %}

    {% include "home/includes/related_links.html" with related_links=self.related_links.all only %}
    </div>
   </div>
  </section>

{% endblock %}
