{% extends "home/base.html" %}
{% load wagtailcore_tags static demo_tags wagtailimages_tags %}

{% block extra_css %}
        <style type="text/css">
        header {
            background-image: url("");
            min-height: 0;
        }
        </style>
{% endblock %}

{% block heading %}
    <div class="page-header" class="section-heading">
        <h1>{{ self.title }}</h1>
        {% include "home/includes/intro.html" with intro=self.intro only %}
    </div>
{% endblock %}

{% block content %}

    {# Listing created with a tag - allows filtering by whether the page is live #}
    {# See also the blog index or events index where the listing is created from a method defined in models.py #}
    {# {% standard_index_listing calling_page=self %} #}
        <section class="" id="news" style="padding:10px 10px">
        <h2 class="section-heading">Uutisia</h2>
        <div class="container">
            <div class="row">

	{% blog_listing_homepage %}

            </div>
        </div>
        </section>

       <section class="bg-primary" id="events" style="padding:10px 10px">
                <h2 class="section-heading">Tapahtumia</h2>
        <div class="container">
            <div class="row">

	{% event_listing_homepage %}

            </div>
        </div>
        </section>
    {% include "home/includes/related_links.html" with related_links=self.related_links.all only %}

{% endblock %}
