{% load wagtailcore_tags wagtailimages_tags %}

{% if adverts %}
<section>
<div class="container">
<div class="row col-lg-12">
<h3>Sponsorit</h3>
  <ul class="advert-list list-inline">
    {% for advert in adverts %}
      <li class="col-lg-3 well" style="min-height:150px;margin: auto">
        {% if advert.url %}
          <a href="{{ advert.url }}" style="color: #fff !important;">
        {% elif advert.page %}
          <a href="{% pageurl advert.page %}">
        {% endif %}
        {% if advert.feed_image %}
                {% image advert.feed_image width-200 class="img-thumbnail" %}<br/>
        {% endif %}
          {{ advert.text }}
        
        {% if advert.url or advert.page %}</a>{% endif %}
      </li>
      {% if not forloop.last %}<li><strong>·</strong></li>{% endif %}
    {% endfor %}
  </ul>
  </div>
  </div>
  </section>
{% endif %}
