{% load wagtailcore_tags wagtailimages_tags %}

{# Individual event item in a list - used on event index and home page #}
<a class="col-md-3" style="min-height:170px;margin:20px;background-color:#FFF;padding: 12px" href="{% pageurl event %}">
  <div class="media">
    {% if event.feed_image %}
      <div class="media-left">
        {% image event.feed_image width-100 as img %}
        <img class="media-object" src="{{ img.url }}" />
      </div>
    {% else %}
    <i class="fa fa-2x fa-calendar wow bounceIn text-primary" style="visibility: visible; animation-name: bounceIn;"></i>
    {% endif %}
    <div class="media-body">
      <h4 class="media-heading">{{ event.title }}</h4>
      <p><strong>{{ event.date_from }}{% if event.date_to %} to {{ event.date_to }}{% endif %}</strong></p>
      {% if event.search_description %}
        <p>{{ event.search_description }}</p>
      {% endif %}
    </div>
  </div>
</a>
