{% load wagtailcore_tags wagtailimages_tags %}

{# Individual blog item in a list - used on blog index and home page #}
<a class="col-md-3" style="min-height:150px;margin:20px" href="{% pageurl faq %}">
  <div class="media">
    {% if faq.feed_image %}
      <div class="media-left">
        {% image faq.feed_image width-100 as img %}
        <img class="media-object" src="{{ img.url }}" />
      </div>
      {% else %}
          <i class="fa fa-2x  fa-question-circle wow bounceIn text-primary" style="visibility: visible; animation-name: bounceIn;"></i>
    {% endif %}
    <div class="media-body">
      <h4 class="media-heading">{{ faq.title }}</h4>
      {% if faq.search_description %}
        <p>{{ faq.search_description }}</p>
      {% endif %}
    </div>
  </div>
</a>
