{% extends "home/base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block extra_css %}
        <style type="text/css">
        header {
            background-image: url("{% static "home/img/transpBrown50.png" %}");
            min-height: 150px;
        }


        </style>
{% endblock %}

{% block header %}
    <header>
        <div class="header-content">
            <div class="header-content-inner">

            {% block heading %}
                <div class="page-header" class="section-heading">
                    <h1>Haku</h1>
                </div>
            {% endblock %}

            </div>
        </div>
    </header>
{% endblock %}

{% block content %}

<section style="padding:10px 0">
  <div class="container">
  <div class="row col-lg-12 col-md-8" style="clear:both">

    <form action="{% url 'search' %}" method="get">
        <input type="text" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
        <input type="submit" value="Search">
    </form>

    {% if search_results %}
        <ul>
            {% for result in search_results %}
                <li>
                    <h4><a href="{% pageurl result %}">{{ result }}</a></h4>
                    {% if result.search_description %}
                        {{ result.search_description|safe }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        {% if search_results.has_previous %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
        {% endif %}

        {% if search_results.has_next %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
        {% endif %}
    {% elif search_query %}
        No results found
    {% endif %}
    </div>
    </div>
    </section>
{% endblock %}

