pip-tools
# Wagtail
wagtail<2.0
django-compressor
django-allauth
html5lib==0.9999999
psycopg2
gunicorn  # for deploying with supervisor
raven     # Sentry integration
# Wiki
django-sekizai
Pillow
wiki
reportlab

#sorl-thumbnail>12.3  # 12.3 is broken

# i18n
django-rosetta
python-memcached
